# Dependency directories
node_modules
yarn.lock

# Logs
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.local_env

# VSCode config files
.vscode

